.container {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.title {
    color: #000;
    text-align: center;
    font-feature-settings: 'dlig' on;
    font-family: Pretendard;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px; /* 75% */
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.id {
    color: #000;
    font-feature-settings: 'dlig' on;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
}

.id-input {
    color: #4A709C;
    text-align: center;
    font-feature-settings: 'dlig' on;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.pw {
    color: #000;
    font-feature-settings: 'dlig' on;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
}

.pw-input {
    color: #4A709C;
    text-align: center;
    font-feature-settings: 'dlig' on;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
