<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KakaoLogin</title>
</head>
<body>
<div class="container">
    <div class="title">
        <h1>9oormthonUNIV_4th_UOU</h1>
    </div>
    <div class="middle">
        <div class="id">로그인
            <input class="id-input">
        </div>
        <div class="pw">비밀번호
            <input class="pw-input">
        </div>
        <button class="login_button">
            로그인
        </button>
    </div>
    <a th:href="${location}">
        <img src="/kakao_login_medium_narrow.png" >
    </a>
</div>
</body>
</html>